// If you want to override variables do it here
@import "variables";

$enable-ltr: true;
$enable-rtl: true;

// Import styles
@import "~@coreui/coreui/scss/coreui";

// Import Chart.js Tooltips
@import "~@coreui/chartjs/scss/tooltips";

@import "layout";
@import "example";

@import 'vue-select/dist/vue-select.css';

// If you want to add something do it here
@import "custom";
.bdr {
  border-radius: 6px;
  overflow: hidden;
  margin-top: 1%;
}
.invalid-input-form {  
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: #e55353;
}
.warning-input-form {  
  margin-top: 0.25rem;
  font-size: 0.875rem;
  color: rgb(155, 155, 11);
  font-weight: bold;
}